@charset "utf-8";

/* common font-family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* colors */
:root {
  --main-color: #f4f4f2;
  --accent-color: #495464;
  --common-color: #e8e8e8;
  --sub-color: #bbbfca;
  --hover-color: #7a8597;
  --font-color: #323d4c;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  color: var(--font-color);
}

/* common */
.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

button {
  appearance: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 24px 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px 0 rgba(187, 191, 202, 0.5);
}
header > .wrap {
  position: relative;
  display: flex;
  align-items: center;
}

/* 로고 */
.logo > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--accent-color);
}
.logo-en {
  margin-bottom: 4px;
  padding: 4px 8px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--accent-color);
  color: var(--main-color);
}
.logo-ko {
  font-size: 32px;
}

/* 메인메뉴 */
nav {
  flex-grow: 1;
  font-size: 24px;
}
ul.main-menu {
  display: flex;
  justify-content: center;
  gap: 48px;
}
ul.main-menu li a {
  position: relative;
  transition: 0.3s;
}
ul.main-menu li:hover a {
  color: var(--hover-color);
}
ul.main-menu li a:after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--hover-color);
  transition: 0.3s;
}
ul.main-menu li:hover a:after {
  width: 100%;
  left: 0;
}

/* 스팟메뉴 */
ul.spot {
  display: flex;
  gap: 8px;
}
ul.spot > li {
  position: relative;
  padding: 8px;
}
ul.spot > li > a {
  font-size: 24px;
  color: var(--accent-color);
  transition: 0.3s;
}
ul.spot > li:hover > a {
  color: var(--hover-color);
}
ul.spot > li:hover::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translateX(-50%) rotate(45deg);
  background-color: var(--hover-color);
}
ul.spot > li:hover::after {
  position: absolute;
  top: 45px;
  left: 50%;
  padding: 8px 16px;
  width: fit-content;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color);
  letter-spacing: 3px;
  border-radius: 8px;
  transform: translateX(-50%);
  background-color: var(--hover-color);
}
.spot-login:hover::after {
  content: 'login';
}
.spot-join:hover::after {
  content: 'join';
}
.spot-page:hover::after {
  content: 'mypage';
}

/* footer */
footer {
  padding: 40px 24px 24px;
  background-color: #eee;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.footer-menu {
  display: flex;
}

.footer-menu li {
  font-size: 14px;
}

.footer-menu li:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 10px;
  background-color: #ccc;
}

.footer-menu li a {
  padding: 0 8px;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  border-top: 1px solid #ccc;
}

.footer-company {
  display: flex;
  flex-wrap: wrap;
}
.footer-company li:not(:last-child)::after {
  content: '';
  display: inline-block;
  margin-left: 8px;
  width: 2px;
  height: 10px;
  background-color: #ccc;
}

.footer-company li {
  padding: 0 4px;
}

.footer-sns {
  width: 50%;
  display: flex;
  justify-content: right;
  gap: 24px;
}

.copy {
  padding: 24px 0 0;
  border-top: 1px solid #ccc;
  text-align: center;
}
