@charset "utf-8";

/* common font-family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

/* colors */
:root {
  --main-color: #f4f4f2;
  --accent-color: #495464;
  --common-color: #e8e8e8;
  --sub-color: #bbbfca;
  --hover-color: #7a8597;
  --font-color: #323d4c;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
body {
  color: var(--font-color);
}

html,
body {
  width: 100%;
}

/* common */
#wrapper {
  position: relative;
  width: 100%;
}
.wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
}

button {
  appearance: none;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}

/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px 0 rgba(187, 191, 202, 0.5);
}

/* 로고 */
.logo {
  font-size: 1.5rem;
}
.logo > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--accent-color);
}
.logo-en {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  background-color: var(--accent-color);
  color: var(--main-color);
}

/* 햄버거 메뉴 */
.ham-menu {
  display: none;
  flex-direction: column;
  gap: 8px;
  height: fit-content;
  cursor: pointer;
}
.ham-menu span {
  width: 2.5rem;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
  transition: 0.3s;
}
.ham-menu.show-menu span:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.ham-menu.show-menu span:nth-child(2) {
  opacity: 0;
}
.ham-menu.show-menu span:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

/* 메인메뉴 */
nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
ul.main-menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  gap: 3rem;
}

ul.main-menu li a {
  position: relative;
  transition: 0.3s;
}
ul.main-menu li:hover a {
  color: var(--hover-color);
  letter-spacing: 0.1875rem;
}
ul.main-menu li a:after {
  content: '';
  position: absolute;
  bottom: -0.1875rem;
  left: 50%;
  width: 0;
  height: 0.125rem;
  background-color: var(--hover-color);
  transition: 0.3s;
}
ul.main-menu li:hover a:after {
  width: 100%;
  left: 0;
}

/* 스팟메뉴 */
.spot {
  text-align: right;
  display: flex;
  align-items: center;
  gap: 1rem;
  opacity: 0.5;
  font-size: 16px;
}
.spot li {
  cursor: pointer;
  transition: 0.3s;
}
.spot li a i,
.spot li i {
  display: none;
}
.spot li:hover {
  color: var(--hover-color);
}

/* footer */
footer {
  padding: 2.5rem 1.5rem 1.5rem;
  background-color: var(--accent-color);
  box-shadow: 0 -0.3125rem 0.625rem 0 rgba(187, 191, 202, 0.8);
  color: var(--main-color);
  font-size: 0.875rem;
}
.footer-logo {
  font-size: 1.5rem;
}
.footer-logo a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer-logo a > .logo-en {
  margin-bottom: 0;
  background-color: var(--common-color);
  color: var(--accent-color);
}
.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.footer-menu {
  display: flex;
}

.footer-menu li {
  font-size: 0.875rem;
}

.footer-menu li:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 0.125rem;
  height: 0.625rem;
  background-color: var(--sub-color);
  opacity: 0.5;
}

.footer-menu li a {
  padding: 0 0.5rem;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-top: 1px solid var(--sub-color);
}

.footer-company {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.6;
  font-weight: 100;
}
.footer-company li:not(:last-child)::after {
  content: '';
  display: inline-block;
  margin-left: 0.5rem;
  width: 0.125rem;
  height: 0.625rem;
  background-color: var(--sub-color);
  opacity: 0.5;
}

.footer-company li {
  padding: 0 0.25rem;
}

.footer-sns {
  width: 50%;
  display: flex;
  justify-content: right;
  gap: 1.5rem;
  font-size: 1.6rem;
}

.copy {
  padding: 1.5rem 0 0;
  border-top: 1px solid var(--sub-color);
  text-align: center;
  font-size: 0.875rem;
  font-weight: 100;
}

/* media - desktop */
@media screen and (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
  .ham-menu {
    display: none;
  }
}

/* media - tablet */
@media screen and (max-width: 1023px) {
  :root {
    font-size: 14px;
  }
  .wrap {
    margin: 0;
    padding: 0 100px;
  }
  header {
    padding: 1.5rem 100px;
    width: 100%;
  }
  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ham-menu {
    display: flex;
    gap: 6px;
  }

  nav {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    /* padding: 24px; */
    height: 0;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(187, 191, 202, 0.5);
    transition: 0.3s;
  }
  ul.main-menu {
    display: none;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
  }

  .spot li a span,
  .spot li span {
    display: none;
  }
  .spot li a i,
  .spot li i {
    display: block;
  }
}

/* media - mobile */
@media screen and (max-width: 767px) {
  :root {
    font-size: 12px;
  }
  .wrap {
    margin: 0;
    padding: 0 50px;
  }
  header {
    padding: 1.5rem 50px;
    width: 100%;
  }
  .footer-info {
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
  }
  .footer-menu li:first-child a {
    padding: 0 0.5rem 0 0;
  }
  .footer-contents {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .footer-sns {
    justify-content: left;
    gap: 8px;
  }
}
