@charset "utf-8";

@import url(./common.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap');

html,
body {
  background-color: var(--main-color);
}

/* hero */
#hero {
  position: relative;
  height: 100vh;
}

#hero > .hero-swiper {
  height: 100%;
}

.hero-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

/* hero background images */
.hero-event {
  background: url(../images/partyimg/사진2.jpg) no-repeat center/cover;
}
.hero-party {
  background: url(../images/partyimg/카톡4.png) no-repeat center/cover;
}
.hero-meeting {
  background: url(../images/meeting/미팅룸2.png) no-repeat center/cover;
}
.hero-pet {
  background: url(../images/petroom/강아지2.jpg) no-repeat center/cover;
}

/* hero contents */
.hero-contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  color: var(--main-color);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.hero-contents > .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  height: calc(100% - 117px);
}
.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 32px;
}
.sub-title-wrap span {
  padding: 8px 16px;
  border: 1px solid var(--main-color);
  border-radius: 16px;
  font-size: 16px;
}

.hero-content-desc {
  font-size: 24px;
  text-align: center;
}
.hero-content-desc p {
  line-height: 1.5;
}

.hero-btn {
  position: relative;
  padding: 16px 24px;
  font-size: 24px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  background-color: transparent;
}
.hero-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  background-color: var(--hover-color);
  transition: 0.3s;
}
.hero-btn:hover {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}
.hero-btn:hover::after {
  height: 100%;
}

/* section */
.main-section {
  padding: 160px 0;
}
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 48px;
}
.section-title span {
  display: flex;
  align-items: center;
  /* padding: 10px 24px; */
  /* font-size: 32px; */
  font-weight: 400;
  /* border-radius: 16px;
  background-color: var(--accent-color);
  color: var(--main-color); */
}
.section-desc {
  padding: 48px 0;
  text-align: center;
  font-size: 24px;
  line-height: 1.6;
}
.section-desc span {
  font-weight: 700;
}

/* 후기 사진 미리보기? */
.preview-btn {
  color: var(--main-color);
  background-color: var(--accent-color);
}
.preview-btn:hover {
  color: var(--main-color);
  background-color: var(--hover-color);
}
.preview-slide {
  width: 100%;
  height: 300px;
}
.preview-slide > .swiper-wrapper {
  transition-timing-function: linear;
}
.preview-slide .swiper-slide {
  background-color: #fff;
  border-radius: 24px;
  overflow: hidden;
}
.preview-slide .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 이용 및 옵션 안내 */
.info-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 24px;
}
.info-icons li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 160px;
  height: 160px;
  border: 4px solid var(--font-color);
  border-radius: 32px;
}
.info-icons li > i {
  font-size: 48px;
  color: var(--accent-color);
}

/* 이용 안내 */
.use-info {
  padding: 64px 0 48px;
}

/* 옵션 안내 */
#options-container {
  display: flex;
  justify-content: space-between;
}

#section-menu {
  position: relative;
  top: 216px;
}
#section-menu > ul {
  position: sticky;
  top: 50%;
  right: 0;
  padding: 205px 0 0;
  transform: translateY(-50%);
}
#section-menu > ul > li {
  margin-bottom: 8px;
  text-align: center;
}
#section-menu > ul > li a {
  border-radius: 16px;
  background-color: var(--accent-color);
  color: var(--main-color);
  display: block;
  padding: 16px 48px;
  transition: 0.3s;
}
#section-menu > ul > li a:hover {
  background-color: var(--hover-color);
}

.room-option {
  padding-top: 160px;
}
.room-option h3 {
  font-size: 24px;
  margin-bottom: 16px;
}

/* service */
.service-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  padding: 48px 0;
}
.service-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.service-img {
  width: 60%;
  height: 450px;
  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 var(--sub-color);
}
.service-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-desc {
  width: 40%;
}
.service-desc > span {
  font: italic 500 24px 'DM Serif Text', serif;
  color: var(--sub-color);
}
.service-desc > h3 {
  font-size: 32px;
  color: var(--accent-color);
}
.service-desc > p {
  word-break: keep-all;
  margin: 32px 0;
  font-size: 24px;
  line-height: 1.6;
}
.service-desc > p > span {
  font-weight: 700;
}

.service-inquiry {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}
.service-inquiry::before {
  content: '';
  width: 65%;
  height: 2px;
  background-color: var(--common-color);
}
.service-inquiry > span {
  padding-top: 14px;
}
.service-inquiry > button {
  padding: 16px 48px;
  background-color: var(--accent-color);
  color: var(--main-color);
  border-radius: 16px;
}
.service-inquiry > button:hover {
  background-color: var(--hover-color);
}
.eventMC img {
  object-position: top;
}
.eventMC > .service-desc {
  text-align: right;
}
.eventMC .service-inquiry {
  align-items: flex-end;
}

/* booking */
#booking {
  padding: 64px 0;
}
.booking-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.booking-icon {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s;
}
.booking-icon > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  font-size: 24px;
}
.booking-icon:hover {
  background-size: 120%;
}
.booking-icon:hover > a::after {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--main-color);
}
.booking-icon:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.party-icon {
  background: url(../images/partyimg/카톡5.png) no-repeat center/100%;
}
.party-icon:hover > a::after {
  content: '파티룸 예약하기';
}

.seminar-icon {
  background: url(../images/meeting/세미나룸.jpg) no-repeat center/100%;
  color: #fff;
}
.seminar-icon:hover > a::after {
  content: '세미나룸 예약하기';
}

.pet-icon {
  background: url(../images/petroom/1687331772079.jpg) no-repeat center/100%;
}
.pet-icon:hover > a::after {
  content: '펫룸 예약하기';
}

/* way to come */
#way {
  padding-bottom: 0;
}
.way-contents {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  padding: 48px 0 64px;
}
#map {
  height: auto;
}

.way-contents > div {
  width: calc(50% - 12px);
}

.way-to-come {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.transportation {
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0 0 8px 3px var(--common-color);
}

.transportation > h3 {
  margin-bottom: 16px;
  font-size: 24px;
}

.transportation > ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 8px;
}
.transportation > ul h4 {
  margin-bottom: 8px;
  font-size: 16px;
}
.transportation > ul p {
  padding: 0 8px;
  line-height: 1.5;
  font-size: 14px;
}
.transportation > ul p > span,
.transportation > ul p > a {
  font-weight: 700;
}
