@charset "utf-8";

@import url(./common.css);
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@1&display=swap');

html,
body {
  background-color: var(--main-color);
}

/* hero */
#hero {
  position: relative;
  height: 100vh;
}

#hero > .hero-swiper {
  height: 100%;
}

.hero-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

/* hero background images */
.hero-event {
  background: url(../images/partyimg/사진2.jpg) no-repeat center/cover;
}
.hero-party {
  background: url(../images/partyimg/카톡4.png) no-repeat center/cover;
}
.hero-meeting {
  background: url(../images/meeting/미팅룸2.png) no-repeat center/cover;
}
.hero-pet {
  background: url(../images/petroom/강아지2.jpg) no-repeat center/cover;
}

/* hero contents */
.hero-contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--main-color);
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}
.hero-contents > .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: calc(100% - 7.3125rem);
}
.hero-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
}
.sub-title-wrap span {
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-color);
  border-radius: 1rem;
  font-size: 1rem;
}

.hero-content-desc {
  font-size: 1.5rem;
  text-align: center;
}
.hero-content-desc p {
  line-height: 1.5;
}

.hero-btn {
  position: relative;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  background-color: transparent;
}
.hero-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 0;
  background-color: var(--hover-color);
  transition: 0.3s;
}
.hero-btn:hover {
  border-color: var(--hover-color);
  background-color: var(--hover-color);
}
.hero-btn:hover::after {
  height: 100%;
}

/* section */
.main-section {
  padding: 10rem 0;
}
.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 3rem;
}
.section-title span {
  display: flex;
  align-items: center;
  /* padding: 10px 24px; */
  /* font-size: 32px; */
  font-weight: 400;
  /* border-radius: 16px;
  background-color: var(--accent-color);
  color: var(--main-color); */
}
.section-desc {
  padding: 3rem 0;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.6;
}
.section-desc span {
  font-weight: 700;
}

/* 후기 사진 미리보기? */
.preview-btn {
  color: var(--main-color);
  background-color: var(--accent-color);
}
.preview-btn:hover {
  color: var(--main-color);
  background-color: var(--hover-color);
}
.preview-slide {
  width: 100%;
  height: 18.75rem;
}
.preview-slide > .swiper-wrapper {
  transition-timing-function: linear;
}
.preview-slide .swiper-slide {
  background-color: #fff;
  border-radius: 1.5rem;
  overflow: hidden;
}
.preview-slide .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 이용 및 옵션 안내 */
.info-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 1.5rem;
}
.info-icons li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 10rem;
  height: 10rem;
  border: 4px solid var(--font-color);
  border-radius: 2rem;
}
.info-icons li > i {
  font-size: 3rem;
  color: var(--accent-color);
}

/* 이용 안내 */
.use-info {
  padding: 4rem 0 3rem;
}

/* 옵션 안내 */
#options-container {
  display: flex;
  justify-content: space-between;
}

#section-menu {
  position: relative;
  top: 13.5rem;
}
#section-menu > ul {
  position: sticky;
  top: 50%;
  right: 0;
  padding: 12.8125rem 0 0;
  transform: translateY(-50%);
}
#section-menu > ul > li {
  margin-bottom: 0.5rem;
  text-align: center;
}
#section-menu > ul > li a {
  border-radius: 1rem;
  background-color: var(--accent-color);
  color: var(--main-color);
  display: block;
  padding: 1rem 3rem;
  transition: 0.3s;
}
#section-menu > ul > li a:hover {
  background-color: var(--hover-color);
}

.room-option {
  padding-top: 10rem;
}
.room-option h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* service */
.service-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 0;
}
.service-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.service-img {
  width: 60%;
  height: 28.125rem;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0 0.625rem 0 var(--sub-color);
}
.service-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.service-desc {
  width: 40%;
}
.service-desc > span {
  font: italic 500 1.5rem 'DM Serif Text', serif;
  color: var(--sub-color);
}
.service-desc > h3 {
  font-size: 2rem;
  color: var(--accent-color);
}
.service-desc > p {
  word-break: keep-all;
  margin: 2rem 0;
  font-size: 1.5rem;
  line-height: 1.6;
}
.service-desc > p > span {
  font-weight: 700;
}

.service-inquiry {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}
.service-inquiry::before {
  content: '';
  width: 65%;
  height: 0.125rem;
  background-color: var(--common-color);
}
.service-inquiry > span {
  padding-top: 0.875rem;
}
.service-inquiry > button {
  padding: 1rem 3rem;
  background-color: var(--accent-color);
  color: var(--main-color);
  border-radius: 1rem;
  font-size: 1rem;
}
.service-inquiry > button:hover {
  background-color: var(--hover-color);
}
.eventMC img {
  object-position: top;
}
.eventMC > .service-desc {
  text-align: right;
}
.eventMC .service-inquiry {
  align-items: flex-end;
}

/* booking */
#booking {
  padding: 4rem 0;
}
.booking-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.booking-icon {
  position: relative;
  width: 18.75rem;
  height: 18.75rem;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s;
}
.booking-icon > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}
.booking-icon:hover {
  background-size: 120%;
}
.booking-icon:hover > a::after {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--main-color);
}
.booking-icon:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.party-icon {
  background: url(../images/partyimg/카톡5.png) no-repeat center/100%;
}
.party-icon:hover > a::after {
  content: '파티룸 예약하기';
}

.seminar-icon {
  background: url(../images/meeting/세미나룸.jpg) no-repeat center/100%;
  color: #fff;
}
.seminar-icon:hover > a::after {
  content: '세미나룸 예약하기';
}

.pet-icon {
  background: url(../images/petroom/1687331772079.jpg) no-repeat center/100%;
}
.pet-icon:hover > a::after {
  content: '펫룸 예약하기';
}

/* way to come */
#way {
  padding-bottom: 0;
}
.way-contents {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 3rem 0 4rem;
}
#map {
  height: auto;
}

.way-contents > div {
  width: calc(50% - 0.75rem);
}

.way-to-come {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.transportation {
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 0 0 8px 3px var(--common-color);
}

.transportation > h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.transportation > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.5rem;
}
.transportation > ul h4 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.transportation > ul p {
  padding: 0 8px;
  line-height: 1.5;
  font-size: 14px;
}
.transportation > ul p > span,
.transportation > ul p > a {
  font-weight: 700;
}

/* media - tablet */
@media screen and (max-width: 1023px) {
  #hero {
    height: 50rem;
  }
  .room-option {
    padding-top: 5.5rem;
  }

  .main-section {
    padding: 5rem 0;
  }

  .section-title {
    flex-direction: column;
    gap: 8px;
    font-size: 2.5rem;
  }

  .info-icons {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .service-container {
    gap: 3rem;
  }
  .service-contents {
    flex-direction: column;
    gap: 1rem;
  }
  .service-img {
    width: 100%;
  }
  .service-desc {
    width: 100%;
    text-align: center;
  }
  .service-desc > h3 {
    font-size: 1.5rem;
  }
  .service-desc > span {
    font-size: 1rem;
  }
  .service-desc > p {
    margin: 1rem 0;
    font-size: 1rem;
  }
  .service-inquiry {
    align-items: center;
  }
  .service-inquiry > span {
    padding-top: 0;
    font-size: 8px;
  }
  .eventMC {
    flex-direction: column-reverse;
  }
  .eventMC > .service-desc {
    text-align: center;
  }
  .eventMC .service-inquiry {
    align-items: center;
  }

  .booking-icon {
    width: 180px;
    height: 180px;
  }
  .way-contents {
    flex-direction: column;
  }
  .way-contents > div {
    width: 100%;
  }
  #map {
    height: 20rem;
    outline: 1px dotted red;
  }
}

/* media - mobile */
@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 1.5rem;
  }

  .sub-title-wrap span {
    font-size: 10px;
  }
  .hero-content-desc {
    font-size: 1rem;
  }

  .hero-btn {
    font-size: 1rem;
  }

  .main-section {
    padding: 3rem 0;
  }
  .section-title {
    font-size: 1.5rem;
  }
  .section-desc {
    padding: 2rem 0;
    font-size: 1rem;
  }
  .info-icons {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .info-icons li {
    width: 80px;
    height: 80px;
    border: 3px solid var(--font-color);
    border-radius: 16px;
    gap: 8px;
  }
  #options-container {
    gap: 8px;
  }
  #section-menu {
    top: 11.5rem;
  }
  #section-menu > ul {
    padding: 5rem 0 0;
  }

  #section-menu > ul > li a {
    padding: 8px 16px;
  }

  .service-img {
    height: 240px;
  }

  .booking-icons {
    gap: 1rem;
  }
  .booking-icon {
    width: 80px;
    height: 80px;
  }
  .booking-icon > a {
    font-size: 1rem;
  }
  .transportation > ul p {
    font-size: 8px;
  }
}
