@charset "utf-8";

@import url(./common.css);
@import url(./payment_form.css);
/* @font-face {
  font-family: "SUITE-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
} */

header {
  position: static;
}

.menu,
#show-options {
  display: none;
}

.swiper .detail-hero {
  padding-top: 100px;
  background-color: #d2e3fd;
}

#detail {
  background-color: #d2e3fd;
}

.detail-slide {
  margin-bottom: 8px;
  height: 430px;
}

.meet-contents.wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 24px;
  height: max-content;
  padding: 48px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.meet-details {
  width: 75%;
}

#meet-menu {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  gap: 80px;
  backdrop-filter: blur(10px);
  color: black;
  border: none;
  border-bottom: 2px solid #e8f1f5;
  padding: 25px 10px;
  font-size: 18px;
}

#meet-menu > li :hover {
  font-weight: bold;
}

#information {
  padding: 60px 0px;
  display: block;
}

.information-list span {
  background-color: #eeeeee;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.main-icon {
  display: flex;
  padding-left: 40px;
  gap: 40px;
}

.iconsort {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.iconsort p {
  font-size: 18px;
}

.i-con {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e8f1f5;
  border-radius: 8px;
  padding: 10px;
  width: 60px;
  height: 60px;
  /* padding-right: 0 15px; */
}

.i-con .fa-solid {
  font-size: 35px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
/* ---------------------- 주소 */
.map-copy-text {
  font-size: 20px;
}
.hover-text {
  position: relative;
  display: inline-block;
  text-align: center;
  border: none;
  font-size: 15px;
  padding: 0 15px;
}
.hover-text input {
  background-color: transparent;
  border: none;
}
.hover-input:hover {
  border-bottom: 1px solid #1a2130;
}
.copy-message {
  visibility: hidden;
  width: 120px;
  background-color: #1a2130;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  left: 50%;
  top: 8px;
  z-index: 1;
  /* bottom: 1590px; */
  /* left: 90px; */
  /* margin-left: -60px; */
  opacity: 0;
  transition: opacity 0.3s;
}

.show {
  visibility: visible;
  opacity: 1;
}
/* ----------------------주소 */

.rclick {
  background-color: #eeeeee;
  display: inline-block;
  padding: 1px 13px;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}

.rclick:hover {
  background-color: #1a2130;
  box-shadow: 0px 15px 20px rgba(27, 39, 63, 0.4);
  color: whitesmoke;
  transform: translateY(3px);
}

.ra_text {
  width: 100%;
}

.ra_button {
  /* width: 200px; */
  /* position: relative;
  top: 0; */
  display: flex;
  padding-top: 100px;
  justify-content: space-between;
}

.aclick {
  background-color: #eeeeee;
  display: inline-block;
  padding: 2px 13px;
  border-radius: 20px;
  cursor: pointer;
}

.aclick:hover {
  background-color: #1a2130;
  box-shadow: 0px 15px 20px rgba(27, 39, 63, 0.4);
  color: whitesmoke;
  transform: translateY(3px);
}

.ra_menu {
  font-size: 40px;
}

.ricon {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  font-size: 50px;
}

.ra_box {
  display: flex;
  align-items: start;
  gap: 20px;
}

.rbox > div {
  gap: 20px;
}

.coon {
  padding: 0;
}

.coon_box {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 20px;
}

.review_list {
  padding: 0;
}
#review {
  position: static;
}
.review-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ra_review {
  /* 날짜 올리기 */
}

.ask_review {
  padding: 0;
}

.ask_list {
  padding: 0;
}

.aicon {
  font-size: 50px;
}

.alist {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.meet_pohoto {
  width: 500px;
  height: 550px;
}

.one-list {
  padding: 30px 20px;
}

.menu_title {
  font-size: 40px;
  border-bottom: 2px solid var(--accent-color);
  padding: 10px 0px;
  width: 16.5%;
}

.menu-text {
  font-size: 24px;
  padding: 30px 20px;
}

.date {
  font-size: 12px;
}

.room_img {
  width: 300px;
  height: 100px;
}

/* 사이드 전체 */
.meeting-room {
  position: sticky;
  top: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 25%;
}

.meeting_small {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.12);
  border: 2px solid rgba(255, 255, 255, 0.222);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  box-shadow: 0 0 5px 0 #1a2130;
}

.meeting_medium {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.222);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  box-shadow: 0 0 5px 0 #1a2130;
}

.meeting_big {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.222);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  box-shadow: 0 0 5px 0 #1a2130;
}

.reservation_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 1px; */
}

.reservation_button :hover {
  background-color: #1a2130;
  box-shadow: 0 15px 20px rgba(27, 39, 63, 0.4);
  color: whitesmoke;
  transform: translateY(2px);
}

.button1 {
  padding: 7px 28px;
  border-radius: 10px;
}

.button2 {
  padding: 7px 28px;
  border-radius: 10px;
}

.fa-solid .fa-images {
  gap: 0;
}

.btn_pohoto {
  font-size: 14px;
  border-radius: 10px;
  padding: 5px 7px;
  border: 0;
}

#information ol {
  padding: 30px 20px;
}

.meeting1 {
  width: 100%;
  height: 500px;
}

.meeting-pohoto {
  height: 600px;
}

.meeting2 {
  width: 400px;
}

.meeting2 img {
  width: 100%;
  height: 100%;
}

/* ---------------------------반응형 */

/* media - tablet */
@media screen and (max-width: 1023px) {
  .meet-contents.wrap {
    display: block;
    padding-top: 0;
  }
  .meet-details {
    width: 100%;
  }
  .menu,
  #show-options {
    display: block;
  }

  #show-options {
    display: block;
    position: absolute;
    right: -5px;
    margin: 5px auto;
    padding: 4px 8px;
    font-size: 15px;
    border-radius: 4px;
  }

  .menu {
    position: absolute;
    top: 0;
    right: -200px;
    background-color: transparent;
    transition: 0.3s;
    z-index: 2;
  }

  .show-menus {
    right: 0;
  }

  /* .menu li {
    margin-bottom: 8px;
    padding: 16px;
    border: 1px solid #000;
  } */
  /* ------------------------------------------------ */
  .show-menus i {
    display: block;
    margin: 32px auto;
    padding: 16px 32px;
    font-size: 24px;
  }
  #detail-wrap {
    padding: 40px;
  }
  /* .swiper-wrapper {
    width: 200px;
    height: 500px;
  } */
  #meeting-room {
    width: 40px;
    height: 200px;
  }
  #meet-menu {
    font-size: 1.5rem;
    padding: 20px 10px;
    gap: 60px;
  }
  .ra_menu {
    font-size: 30px;
  }
  .meeting-room {
    position: sticky;
    top: 24px;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  #information {
    padding: 30px;
    font-size: 18px;
  }
  .menu_title {
    font-size: 28px;
    width: 105px;
  }
  .menu-text {
    font-size: 1.4rem;
  }
  .map-copy-text {
    font-size: 1.5rem;
  }
  /* 사이드 메뉴 */
  .meeting_small {
    width: 150px;
    height: 150px;
  }
  .meeting_medium {
    width: 150px;
    height: 150px;
  }
  .meeting_big {
    width: 150px;
    height: 150px;
  }
  .button1 {
    padding: 1px 8px;
    border-radius: 10px;
  }
  .button2 {
    padding: 1px 8px;
    border-radius: 10px;
  }
  .swiper-slide img {
    width: 100%;
  }
  .meeting-room {
    display: none;
  }
}

/* media - mobile ----------------------------*/
@media screen and (max-width: 767px) {
  /* width: 768px~992px; */
  .detail-hero {
    padding-bottom: 1rem;
  }
  .menu,
  #show-options {
    display: block;
  }
  #show-options {
    display: block;
    position: absolute;
    right: -5px;
    margin: 5px 3px;
    padding: 2px 3px;
    font-size: 13px;
    border-radius: 3px;
  }
  .menu {
    position: absolute;
    top: 0;
    right: -200px;
    background-color: transparent;
    transition: 0.3s;
    z-index: 2;
  }
  .show-menus {
    right: 0;
  }

  /* .menu li {
    margin-bottom: 8px;
    padding: 16px;
    border: 1px solid #000;
  } */
  /* -------------------------------------------------- */
  .meet-contents.wrap {
    padding-top: 0px;
    display: block;
  }
  .detail-slide {
    margin-bottom: 8px;
    height: 250px;
  }
  .meet-details {
    width: 100%;
  }
  #detail-wrap {
    padding: 30px;
  }

  #meeting-room {
    width: 40px;
    height: 200px;
  }
  #meet-menu {
    display: flex;
    font-size: 1rem;
    padding: 10px 0px;
    gap: 20px;
  }
  .meeting-room {
    position: sticky;
    top: 24px;
    display: flex;
    flex-direction: column;
    gap: 1px;
  }
  #information {
    padding: 30px 0px;
    font-size: 16px;
  }

  #information ol {
    padding: 15px 10px;
  }

  .one-list {
    padding: 15px 10px;
  }

  .information-list span {
    font-size: 1rem;
    padding: 1px 5px;
    border-radius: 9px;
  }
  .main-icon {
    display: flex;
    padding-left: 3px;
    gap: 10px;
  }
  .i-con {
    width: 40px;
    height: 40px;
  }
  .i-con .fa-solid {
    font-size: 20px;
  }
  .iconsort {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
  }
  .iconsort p {
    font-size: 12px;
  }
  .menu_title {
    font-size: 20px;
    padding: 7px 0px;
    width: 75px;
  }
  .menu-text {
    padding: 15px 10px;
    font-size: 1.2rem;
  }
  .map-copy-text {
    font-size: 13px;
  }
  .hover-text {
    padding: 3px;
    font-size: 1rem;
  }
  .ra_menu {
    font-size: 22px;
  }

  /* 사이드 메뉴 */
  .meeting_small {
    width: 150px;
    height: 150px;
  }
  .meeting_medium {
    width: 150px;
    height: 150px;
  }
  .meeting_big {
    width: 150px;
    height: 150px;
  }
  .button1 {
    padding: 1px 8px;
    border-radius: 10px;
  }
  .button2 {
    padding: 1px 8px;
    border-radius: 10px;
  }
  .meeting-room {
    display: none;
  }
}
