@charset "utf-8";

@import url(./common.css);
@import url(./payment_form.css);
@font-face {
  font-family: "KyoboHand";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
header {
  position: static;
}

#meet {
  padding-top: 100px;
  background-color: #d2e3fd;
}

.meeting-slide {
  width: 100%;
  height: 550px;
}

.meeting-slide-wrapper > .swiper-slide > img {
  width: 100%;
}

.meet-contents.wrap {
  display: flex;
  gap: 15px;
  align-items: start;
  position: relative;
}

.meet-details {
  width: 60%;
}
#meet-menu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  color: black;
  border-bottom: 1px solid black;
  padding: 10px 10px;
}

#information {
  padding: 45px 0px;
  display: block;
}

#information p {
  font-size: large;
}

.information-list span {
  background-color: #eeeeee;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 20px;
  cursor: pointer;
}

.main-icon {
  display: flex;
  gap: 40px;
}

.iconsort {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.iconsort p {
  font-size: 13px;
}

.i-con {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e8f1f5;
  border-radius: 8px;
  padding: 10px;
  width: 60px;
  height: 60px;
  /* padding-right: 0 15px; */
}

.i-con .fa-solid {
  font-size: 35px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.rclick {
  background-color: #eeeeee;
  display: inline-block;
  padding: 2px 13px;
  border-radius: 20px;
  cursor: pointer;
}

.ra_text {
  width: 100%;
}

.ra_button {
  display: flex;
  justify-content: space-between;
  /* padding: 70px 0; */
}

.aclick {
  background-color: #eeeeee;
  display: inline-block;
  padding: 2px 13px;
  border-radius: 20px;
  cursor: pointer;
}

.ra_menu {
  font-family: "KyoboHand";
  font-size: 27px;
}

.ricon {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  font-size: 50px;
}

.ra_box {
  display: flex;
  align-items: start;
  gap: 20px;
}

.rbox > div {
  gap: 20px;
}

.coon {
  padding: 0;
}

.coon_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.review_list {
  padding: 0;
}

.review-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ra_review {
  /* 날짜 위로 올리기 */
}

.ask_review {
  padding: 0;
}

.ask_list {
  padding: 0;
}

.aicon {
  font-size: 50px;
}

.alist {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.meet_pohoto {
  width: 500px;
  height: 550px;
}

.menu_title {
  font-family: "KyoboHand";
  font-size: 24px;
}

.date {
  font-size: 12px;
}

.room_img {
  width: 300px;
  height: 100px;
}

.meeting-imgs {
  /* border-radius: 10px; */
  padding: 44px 0;
  position: sticky;
  top: 0;
  left: 0;
}

.meeting-imgs-contents {
  padding: 24px 0;
  background-color: rgba(280, 280, 280, 0.4);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px 0;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
}

.one_img,
.two_img,
.three_img {
  display: flex;
  padding: 10px;
  gap: 60px;
}

.one_img,
.two_img {
  border-bottom: 1px dotted #eeeeee;
}

/* 정은 */
.roomimg img {
  width: 250px;
  height: 90%;
}
.roomimg {
  width: 210px;
}
.room_titles {
  width: 180px;
}

.reservation_button {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  gap: 5px;
  color: black;
  padding: 3px 3px;
  border: 0;
}

.btn_pohoto {
  font-size: 14px;
  border-radius: 10px;
  padding: 3px 7px;
  border: 0;
}

#information ol {
  padding: 0;
}

.meeting1 {
  width: 100%;
  height: 500px;
}
.meeting-pohoto {
  height: 600px;
}
.meeting2 {
  width: 400px;
}
.meeting2 img {
  width: 100%;
  height: 100%;
}
