@charset 'utf-8';

@import url(./common.css);
@import url(./payment_form.css);
header {
  position: static;
}
/* party room */

#party {
  padding-top: 100px;
  background-color: #f0edf5; /*#DFCCFB*/
  height: 100%;
}
.swiper-slide > img {
  width: 100%;
  height: 600px;
}

.result {
  padding: 70px;
  /* margin: 50px; */
}
.party-menu {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
}
.ment {
  text-align: center;
}
.main-icon {
  display: flex;

  /* align-items: center; */
  gap: 40px;
}

.fa-solid {
  /* font-size: 35px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.i-con .fa-solid {
  font-size: 35px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
}
.fa-minus {
  display: block;
  font-size: 35px;
}
.iconsort {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconsort p {
  text-align: center;
  margin: 10px 0 0;
}

.maintwo li {
  margin-bottom: 20px;
}
.mainthree li {
  margin-bottom: 20px;
}

.textone {
  padding-right: 70px;
}

.party-main {
  padding-top: 100px;
}
.party-maintwo {
  padding-top: 100px;
}
.party-mainthree {
  padding-top: 100px;
}
.party-mainfour {
  padding-top: 100px;
}
.party-serve {
  padding-bottom: 20px;
}
.text-list {
  padding-bottom: 20px;
}
/* .none {
  padding-top: 20px;
} */
.none p {
  padding-top: 20px;
}
/* Q&A */
.QnA-color {
  color: blue;
}
