@charset 'utf-8';

@import url(./common.css);
@import url(./payment_form.css);
header {
  position: static;
}
/* party room */
.party-contents {
  display: flex;

  align-items: start;
  gap: 20px;
  position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: rgb(150, 146, 146);
}
.party-details {
  width: 600px;
}
#party {
  padding-top: 100px;
  background-color: #f1edf5;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 550px;
}
.mySwiperoption {
  width: 100%;
  height: 100%;
}
.party-option {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  /* margin: 20px; */
  border: 2px solid black;
  flex-direction: column;

  /* width: 100%;
  height: 100%; */
  text-align: center;
}
.party-option img {
  width: 100%;
  height: 300px;
}

.swiper-title {
  padding: 25px;
  background-color: white;
}

.swiper-title h3 {
  color: black;
}

.result {
  padding: 70px 0;
}
.party-menu {
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0;
  color: rgb(118, 82, 151);
  border-bottom: 2px solid rgb(238, 201, 238);
}
.ment {
  text-align: center;
}
.main-icon {
  display: flex;

  /* align-items: center; */
  gap: 40px;
}

.i-con .fa-solid {
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
}
.fa-minus {
  display: block;
  font-size: 35px;
}
.iconsort {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconsort p {
  text-align: center;
  margin: 10px 0 0;
}

.maintwo li {
  margin-bottom: 20px;
}
.mainthree li {
  margin-bottom: 20px;
}

.textone {
  padding-right: 70px;
}

.party-main,
.QnA,
.party-maintwo,
.party-mainthree,
.party-mainfour {
  padding-top: 100px;
}

.maintwo,
.mainthree {
  padding-left: 0;
}
.party-serve,
.text-list {
  padding-bottom: 20px;
}

.none p {
  padding-top: 20px;
}
/* Q&A */

.QnA-color {
  color: blue;
}
.QnA-order {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: space-around;
}

.guest-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid skyblue;
  border-radius: 50px;
  width: 60px;
  height: 60px;
}
.guest-imgs {
  border-radius: 50px;
}
.QnA-boxs {
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid rgb(214, 209, 209);
}
.QnA-boxes {
  padding-top: 20px;
}
.QnA-num {
  padding-left: 30px;
}
.guest-name {
  display: flex;
  padding-bottom: 20px;
  justify-content: space-between;
  width: 400px;
}

.QnA-time {
  display: flex;
  font-size: 12px;
  color: rgb(156, 154, 154);
}

.fa-user,
.fa-child,
.fa-waze {
  font-size: 40px;
}
/* 이용 후기 */
.em {
  color: rgb(196, 23, 196);
}
.review {
  padding-top: 100px;
}

/* payment */
#party-payment {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 10px 0;
  position: sticky;
  top: 0;
  width: 600px;
}

.payment-container {
  display: flex;
  border: 1px solid rgb(207, 203, 203);
  border-radius: 10px;
  background-color: #fff;
  padding: 10px;
  width: 550px;
  height: 270px;
}
.container-main {
  display: flex;
  flex-direction: column;

  padding: 0 10px;
  /* justify-content: space-between; */
}
.container-main p {
  font-size: 10px;
  /* padding-bottom: 10px; */
}
.container-main h2 {
  font-size: 25px;
}

.btn-primary {
}
.container-one {
  /* display: flex; */
  padding-bottom: 30px;
  /* background-color: white; */
}

.pay-img > img {
  width: 300px;
  height: 250px;
}

.btn-primary {
  background-color: rgb(247, 228, 231);
  color: black;
}
