@media screen and (max-width: 767px) {
  .wrap {
    padding: 0 2rem;
  }
  .pet-contents {
    width: 100%;
  }
  .pet-detail {
    display: block;
  }
  #pet {
    padding-bottom: 0;
  }
  .More {
    /* backdrop-filter: blur(50px); */
    background-color: rgba(252, 249, 249);
  }
  .More ul {
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
  }
  .infor-title {
    font-size: 2rem;
  }
  .spaceintroduction {
    font-size: 1rem;
  }
  .space {
    padding-top: 3.5rem;
  }
  .spaceintroduction p {
    font-size: 1rem;
  }

  .iconsort p {
    font-size: 1rem;
  }
  .main-icon {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 2rem;
    gap: 0.5rem;
  }
  .Supplies {
    padding-top: 3.5rem;
  }
  .All-Supplies ul,
  li {
    padding: 0;
  }

  .common-main li {
    padding: 0 0 0 0.5rem;
  }
  .common-title {
    margin: 1rem 0;
    font-size: 1rem;
  }
  .common-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1rem;
  }
  .common-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .all-1 {
    height: 18.75rem;
  }
  /* .all-1 ul li {
    padding: 0.3rem;
  }
  .all-2 {
    padding: 1rem;
  } */
  .facility-main {
    padding: 0;
  }
  .facility-main li {
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem;
  }
  .times {
    padding-top: 3.5rem;
  }
  .times td,
  th {
    font-size: 1rem;
  }

  .refund {
    padding-top: 2.5rem;
  }
  .refund-main li {
    font-size: 1rem;
    margin: 0;
    padding-top: 0.5rem;
  }
  .facility {
    padding-top: 3.5rem;
  }
  .facility-main > li > .fa-solid {
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  .mapst {
    /* padding: 2.5rem 0 2.5rem 2.5rem; */
  }
  .mapst span {
    font-size: 1rem;
  }
  .hover-text {
    font-size: 1rem;
    width: 5rem;
  }

  #map {
    width: 100%;
    height: 200px;
  }
  .copyMessage {
    position: absolute;
    top: 0;
  }
  /* 후기 */
  #Reviews {
    padding-top: 3.5rem;
  }

  .profile-img {
    margin: 0;
  }
  .profile-img img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .customer {
    display: block;
  }
  .name {
    font-size: 1rem;
  }
  .profile-title {
    font-size: 1rem;
  }

  /* }.room-main{width: 100%; */

  /* 예약내용 */
  #detail-payment {
    padding: 1rem 0.5rem;
    gap: 1rem;
  }
  .fc .fc-daygrid-day-frame {
    font-size: 1rem;
  }
  .pay-desc p {
    font-size: 1.4rem;
  }
  .pay-hash .hash-item {
    padding: 0 0.5rem;
  }
  .pay-caution h4 {
    font-size: 1.2rem;
    padding: 0;
  }
  .caution-desc a {
    font-size: 1rem;
  }
  .caution-desc p {
    font-size: 1rem;
  }

  /* .pay-options {
    display: grid;
  } */
  .pay-option {
    margin: 0;
  }
  .pay-option span {
    font-size: 1rem;
  }
  #personnel {
    width: 80px;
    height: 2.5rem;
    margin-top: 2rem;
  }
  .select-personnel {
    display: block;
  }

  /* 메뉴보기 */

  .room-main {
    display: none;
  }
  /* .menu-main button{display: block;
  } */
  .menu-main {
    /* position: absolute; */

    display: block;
    margin: 32px auto;
    padding: 16px 32px;
    font-size: 24px;
    /* width: 100%; */
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  li {
    list-style: none;
  }

  #menu-b:hover {
    color: #ff8080;
  }
  /* layout */

  .menu-main button {
    border: none;
    font-size: 1.5rem;
    background-color: pink;

    width: 150px;
    /* width: 100%; */
  }

  #Space-introduction {
    position: relative;
    /* padding: 0 2.5rem; */
    padding-right: 2.5rme;
  }

  #menu-b {
    display: block;
    color: #d37676;
    border: none;
    font-size: 1.5rem;
    background-color: #ffefef;
    border-radius: 0.5rem;
    width: 30px;
    height: 150px;
    position: fixed;
    /* top: 600px; */
    left: 0;

    /* width: 100%; */
  }

  .menu {
    position: fixed;
    bottom: 0;
    left: -400px;
    margin: 1rem;
    padding: 1rem;
    background-color: transparent;
    transition: 0.3s;
    z-index: 1;
  }
  .close {
    text-align: end;
  }
  .show-menus {
    left: 10%;
    border-radius: 1.5rem;
    background-color: rgb(252, 240, 241);
  }

  .menu li {
    margin-bottom: 8px;
    padding: 16px;
    /* border: 1px solid #000; */
  }

  .room {
    margin-top: 0.5rem;
    /* width: 250px; */
    height: 100%;
    display: block;
    padding: 0 0.5rme;
  }
  .room li {
    font-size: 1rem;
    padding: 0;
  }
  /* up btn */
  .up-btn button {
    position: fixed;
    right: 10px;
    bottom: 40px;
  }
}
