@charset "utf-8";

@import url(./common.css);
@import url(./payment_form.css);
@font-face {
  font-family: "KyoboHandwriting2023wsa";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/KyoboHandwriting2023wsa.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MangoByeolbyeol";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoByeolbyeol.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
header {
  z-index: 999;
  position: relative;
  background-color: #faf3f0;
}
#pet {
  /* padding-top: 100px; */
  background-color: white;
  padding: 3rem;
  /* height: 100vh; */
}
.detail-slide {
  margin-bottom: 8px;
}
.pet-detail {
  display: flex;
  align-items: start;
  gap: 40px;
  position: relative;
}
.pet-contents {
  width: 75%;
  flex-grow: 1;
}
/* 스와이퍼 */
.swiper-slide img {
  width: 100%;

  /* border-radius: 30px; */
  /* height: 600px; */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #eeedeb;
}
.mySwiper {
  width: 100%;
  /* padding: 80px; */
  padding-top: 40px;
  /* border-radius: 12px; */
}
.main-img {
  padding-bottom: 32px;
  width: 100%;
}
.center img {
  width: 100%;
  height: 500px;
}
section {
  color: #545b77;
}
.More {
  padding: 1rem;
  border-bottom: 1px solid #ffcbcb;
  position: sticky;
  top: 0;
  font-size: 1.5rem;
  color: #ff8080;
  background-color: rgba(252, 249, 249);
  z-index: 2;
  /* backdrop-filter: blur(20px); */
}
.More > ul > li > a:hover {
  color: #ffb4b4;
  border-bottom: 1px dashed #fd8a8a;
}
.More ul {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.fa-duotone {
  width: 20px;
  height: 20px;
}
.pet-title {
  font-family: "KyoboHandwriting2023wsa";
  display: flex;
  justify-content: baseline;
  margin: 40px;
  padding-left: 15%;
  font-weight: 900;
  font-size: 80px;
  color: burlywood;
}
.infor-title {
  color: #41444b;
  font-weight: 500;
  font-size: 40px;
  font-family: "MangoByeolbyeol";
}
.space {
  padding: 16px;
}
/* 액자형 */
.card {
  width: 540px;
  --bg: #e8e8e8;
  --contrast: #e2e0e0;
  --grey: #93a1a1;
  position: relative;
  padding: 8px;
  background-color: var(--bg);
  border-radius: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 20px 0px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.card-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: repeating-conic-gradient(
      var(--bg) 0.0000001%,
      var(--grey) 0.000104%
    )
    60% 60%/600% 600%;
  filter: opacity(10%) contrast(105%);
}

.card-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--contrast);
  border-radius: 30px;
  color: #c7c4c4;
  text-align: center;
  font-family: monospace;
}
.card-inner img {
  border-radius: 35px;
}

.main {
  height: 1100px;
  margin: 80px auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa {
  position: absolute;
  right: 0;
  top: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 {
  position: absolute;
  left: 0;
  top: 0;
}
.card2 {
  position: absolute;
  bottom: 0;
  left: 0;
}
.card1title {
  position: absolute;
  right: 10%;
  top: 10px;
}
.fatitle {
  position: absolute;
  top: 37%;
  left: 0;
}
.card2title {
  position: absolute;
  bottom: 15%;
  right: 0;
}
.main h3 {
  font-size: 32px;
  font-weight: 700;
}
.main p {
  font-size: 24px;
}

/* 아이콘 */
.main-icon {
  display: flex;
  gap: 40px;
  margin-left: 16px;
  margin-bottom: 48px;
}

.i-con {
  text-align: center;
  border: 1px solid #9babb8;
  border-radius: 8px;
  padding: 8px;
  width: 60px;
  height: 60px;
}
.i-con > .fa-solid {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconsort p {
  font-size: 16px;
}
/* 객실용품 */
.Supplies {
  padding-top: 120px;
  /* margin-bottom: 48px; */
  /* padding: 24px; */
}
.all {
  padding-top: 16px;
  font-size: 32px;
  font-weight: 500;
}

.common-main {
  display: flex;
  align-items: flex-start;
  width: max-content;
  height: 150px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 8px 16px;
}
.common-main > li > i {
  font-size: 16px;
  width: 25px;
}
.common-main li {
  padding: 8px 16px;
}
/* 공간소개 */
.spaceintroduction {
  padding: 16px;
}
.space {
  padding-left: 0;
  padding-top: 120px;
}
.spaceintroduction p {
  font-size: 24px;
}
.bir {
  font-size: 20px;

  font-weight: 900;
}
/* 시설안내 */
.facility {
  /* margin-bottom: 80px; */
  padding-top: 120px;
}

.facility-main > li {
  margin-top: 16px;
  font-size: 24px;
}
.facility-main > li > .fa-solid {
  font-size: 20px;

  padding: 8px;
}
.facility-main > li > span {
  position: relative;
  left: 10%;
}
/* 이용시간 */
.times {
  padding-top: 120px;
  /* margin-bottom: 48px; */
}
table {
  /* border: 2px solid black; */
  border-collapse: collapse;
}
tr,
td,
th {
  /* border: 1px solid pink; */
  padding: 8px 16px;
  font-size: 24px;
}

.times .time {
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  font-size: 32px;
  color: #e99674;
}
/* 환불규정 */
.refund {
  padding-top: 120px;
  /* padding-bottom: 40px; */
}
.refund-main > li {
  font-size: 24px;
  margin-top: 16px;
}
/* 이용후기 */
#Reviews {
  border-top: none;
  /* margin-bottom: 80px; */
  padding-top: 120px;
}

.location {
  display: flex;
  justify-content: space-between;
}

.Reviews-heard span {
  color: #dc6b19;
}
.Reviews-heard {
  font-size: 25px;
  font-weight: 500;
  /* display: flex; */
  margin: 8px;
}
.clickbtn {
  padding: 8px;
  margin: 8px;
  background-color: #f5dad2;
  border: none;
  border-radius: 6px;

  font-size: 15px;
}
.clickbtn:hover {
  color: #fff;
  background-color: #ff6969;
}
.Reviews-title {
  text-align: center;
  padding: 8px;
}
.line {
  border-top: 1px solid black;
}
/* 후기 내용 */
.customer {
  display: flex;
  gap: 8px;
  padding: 16px;
}
.profile-img {
  margin: 8px;
}
.profile-img img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.stars {
  color: #ffc700;
}
.name {
  font-size: 24px;
  color: black;
}
.profile-title {
  padding: 16px 0;
}
.date {
  color: #9babb8;
  font-size: 14px;
}
.profil-scroll {
  height: 400px;
  overflow-y: auto;
}
/* Q&A */
#Q-A {
  height: 300px;
  padding-top: 120px;
}
.infor-title > span {
  font-size: 25px;
  color: #a34343;
}
/* 지도 */
.mapst {
  padding-top: 120px;
  /* padding: 0 2.5rem; */
}
#copy {
  color: #4b70f5;
  border: none;
  background-color: transparent;
}
#copy span:hover {
  border-bottom: 1px solid black;
}
.map-title {
  padding: 8px;
}
.swiper-wrapper {
  display: flex;
}
/* 방 이미지들(스와이퍼) */
.room-main {
  /* border: 1px solid pink; */
  background-color: #fff;
  gap: 8px;
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 1rem;
  /* padding: 1rem; */
  border-radius: 8px;
  width: 30%;
}
.btnwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.btn-primary {
  padding: 8px 0;
  color: black;
}

.btn-primary:active {
  background-color: #ff6969 !important;
}

.btnwrap button:hover {
  background-color: #ff6969;
  color: #fff;
}
.btnwrap button {
  padding: 8px 0;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  background-color: #ffd0d0;
  border: none;
  transition: 0.5s;
}
.room {
  width: 100%;
  /* height: 250px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1rem 2px;
  background-color: #fff;
  border: 2px solid rgba(255, 128, 128, 0.5);
  border-radius: 16px;
  box-shadow: 0 0 5px 0 rgba(255, 128, 128, 0.5);
}
.room h2 {
  color: #ff8080;
}
.room span {
  color: #000;
  font-size: 16px;
  font-weight: 700;
}

/* 팝업창 객실사진 */
.petroom {
  width: 100%;
  height: 500px;
}
.room-body {
  height: 600px;
}
.roomimg {
  width: 400px;
}
.roomimg img {
  width: 100%;
  height: 100%;
}
/* 지도 */
.hover-text {
  position: relative;
  display: inline-block;
  text-align: center;
  border: none;
  width: 130px;
  font-size: 16px;
  color: #ca8787;
}
.map-copy-text {
  font-size: 24px;
}

.tooltip-text {
  display: block;
  visibility: hidden;
  width: 80px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
}

.copy-message {
  visibility: hidden;
  width: 120px;
  background-color: skyblue;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: relative;
  left: 60%;
  top: 10px;
  z-index: 1;
  transition: opacity 0.2s;
}

.show {
  visibility: visible;
  opacity: 1;
}
.inputbtn {
  color: #ca8787;
  border: none;
  background-color: transparent;
}
.inputbtn:hover {
  border-bottom: 1px solid darksalmon;
  color: #ff6969;
  font-weight: 800;
}
#map {
  width: 100%;
  height: 400px;
}
/* 메뉴보기 */
.menu-main,
#menu-b {
  display: none;
}

.up-btn button i {
  font-size: 1.5rem;
  text-align: center;
}
.up-btn button {
  position: fixed;
  bottom: 1rem;
  right: 20px;

  background-color: pink;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

button:hover {
  background-color: #ff6969;
}

/* 후기 모달 */
/* 모달 전체 배경 */
.modal {
  display: none; /* 초기에는 모달이 숨겨져 있음 */
  position: fixed; /* 화면에 고정 */
  z-index: 9999; /* 다른 요소들보다 위에 표시 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
}

/* 모달 내용 */
textarea {
  height: 300px;
  width: 100%;
  /* border: 1rem; */
}
/* .Reviewswrite-header {
  background-color: #c7c8cc;
}
.Reviewswrite-footer {
  background-color: #c7c8cc;
} */
