@media screen and (max-width: 1023px) {
  #pet {
    padding-bottom: 0;
  }
  .wrap {
    padding: 0 1.5rem;
  }
  .More {
    /* backdrop-filter: blur(50px); */
    background-color: rgba(252, 249, 249);
  }
  .pet-contents {
    width: 55%;
  }

  .room-main {
    width: 45%;
  }
  .room {
    width: 100%;
  }
  .More ul {
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
  }
  .infor-title {
    font-size: 2.5rem;
  }
  .spaceintroduction {
    font-size: 1.5rem;
  }
  .space {
    padding-top: 2.5rem;
  }
  .spaceintroduction p {
    font-size: 1rem;
  }

  .iconsort p {
    font-size: 1rem;
  }

  .Supplies {
    padding-top: 2.5rem;
  }
  .All-Supplies ul,
  li {
    padding: 0;
  }

  .common-main li {
    padding: 0 0 0 0.5rem;
  }
  .common-title {
    margin: 1rem 0;
    font-size: 1rem;
  }
  .common-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1rem;
  }
  .common-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .all-1 {
    height: 18.75rem;
  }
  .facility-main {
    padding: 0;
  }
  .facility-main li {
    font-size: 1rem;
    margin: 0;
    padding: 0.5rem;
  }
  .times {
    padding-top: 2.5rem;
  }
  .times td,
  th {
    font-size: 1rem;
  }

  .refund {
    padding-top: 2.5rem;
  }
  .refund-main li {
    font-size: 1rem;
    margin: 0;
    padding-top: 0.5rem;
  }
  .facility {
    padding-top: 2.5rem;
  }
  .facility-main > li > .fa-solid {
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  .mapst {
    padding: 2.5rem 0 2.5rem 2.5rem;
  }
  .mapst span {
    font-size: 1rem;
  }
  .hover-text {
    font-size: 1rem;
  }

  #map {
    width: 100%;
    height: 200px;
  }
  .copyMessage {
    position: absolute;
    top: 0;
  }
  /* 후기 */
  #Reviews,
  #Q-A {
    padding: 0 2.5rem;
  }

  .profile-img {
    margin: 0;
  }
  .profile-img img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .customer {
    display: block;
  }
  .name {
    font-size: 1.5rem;
  }
}
