* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.log {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 500px; */
  height: 400px;
  text-align: center;
  /* margin: 250px; */
}
.bnt {
  display: flex;
  justify-content: ;
}
